

body{
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header{
    height: 120px;;
}
h1{
    color:#ffd780;
    /* color: #ffcf66; */
    font-size: 80px;
    text-shadow: -5px 1px #734d26;
}

h2{
    color:#ffd780;
    font-weight: bold;
}

.characters{
    height: 50px;
}

.characterBtn{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    /* padding: 2px; */
    float: left;
    /* margin: 2px; */
    text-align: center;
    color:#ffd780;
    font-weight: bold;
    font-size: 20px;
    background: black;
}

.characterBtn img{
    height: 70%;
    width: 100%;
    position: relative;
}
.characterBtn p{
    font-size: 17px;
}

#message{
    background: black;
    text-align: center;
    color:#ffd780;
    font-size: 30px;
    border: 2px dotted white;
}

