

body{
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header{
    height: 150px;;
}
h1{
    color:#ffd780;
    /* color: #ffcf66; */
    font-size: 80px;
    text-shadow: -5px 1px #734d26;
}

h2{
    color:#ffd780;
}

.characters{
    height: 50px;
}

.characterBtn{
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid white;
    padding: 2px;
    float: left;
    margin: 2px;
    text-align: center;
    color:black;
}

.fightBtn{
    width: 100px;
    height: 50px;
}

